@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Philosopher', sans-serif;
    max-height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    background: #fff !important;
  }
  
  ::-webkit-scrollbar-track {
    border: 1px solid #E67E22;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #CB894F;
  }

input:focus, button:focus {
    outline: none !important;
}

.main-content {
    position: relative;
    width: 100vw;
    height: 100%;
    /* display: grid;
    grid-template-columns: 1fr 5fr; */
}

.aside {
    position: fixed;
    width: 20%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #E67E22;
    min-height: -moz-calc(100vh - 81px);
    min-height: -webkit-calc(100vh - 81px);
    min-height: calc(100vh - 81px);
    overflow: hidden;
}

.aside .user {
    /* position: fixed; */
    width: 100%;
    padding: 20px;
    box-shadow: 0px 6px 4px rgba(51, 51, 51, 0.25);
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aside .user img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.aside .user .username-email {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.aside .user h1 {
    font-size: 26px;
    font-weight: normal;
    padding:0 0 10px 0;
}

.aside .user h3 {
    font-size: 14px;
    font-weight: 100;
    padding:0 0 10px 0;
} 

.aside .sidemenu {
    /* position: fixed; */
    top: 130px;
    width: 100%;
}

.aside .sidemenu nav {
    width: 100%;
    padding: 10px 0;
}

.aside .sidemenu nav a {
    display: block;
    padding: 13px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.aside .sidemenu nav a i{
    width: 30px !important;
}

.aside .sidemenu nav a:hover {
    background: #CB894F
}

.aside .sidemenu nav a.active {
    background: #CB894F;
}

.aside .sidemenu .social-links {
    padding: 0 20px;
}

.aside .sidemenu .social-links .follow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.aside .sidemenu .social-links .follow a {
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.aside .sidemenu .social-links .follow a:hover {
    background: rgba(255, 255, 255, 0.75);
}

.aside .sidemenu .social-links .follow a:nth-child(1) {
    color: #3b5998;
}

.aside .sidemenu .social-links .follow a:nth-child(1) {
    color: #00acee;
}

.aside .sidemenu .social-links .follow a:nth-child(1) {
    color: #3f729b ;
}

.main header {
    position: fixed;
    width: 80%;
    top: 0;
    left: 20%;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(85, 85, 85, 0.25);
}

.content{
    height: 200vh;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 30px;
    margin-left: 21%;
    margin-top: 80px;
    margin-bottom: 90px;
    padding: 20px;
}

.main header nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main header .logo img {
    height: 60px;
}

header nav .search-bar {
    height: 100%;
    display: flex;
    align-items: center;
}

header nav .search-bar form {
    height: 40px;
    border-radius: 25px;
    border: 1px solid #333;
    width: 400px;
    /* background: #fff; */
    display: flex;
    align-items: center;
}

header nav .search-bar form input {
    border: none;
    background: none;
    height: 40px;
    width: 90%;
    padding-left: 10px;
}

header nav .search-bar form button {
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 10%;
}

header nav .search-bar form button i {
    font-size: 18px;
    color: #444;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    margin: 10px;
}

header nav ul li a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

header nav ul li a:hover {
    opacity: .7;
}

.notify {
    cursor: pointer;
}

.notify .small {
    position: absolute;
    height: 16px;
    width: 16px;
    color: rgb(38, 0, 255);
    border-radius: 50%;
    background: rgb(240, 50, 50);
    margin: -5px 0 0 -10px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -25px 0 0 5px;
}

.notification {
    position: absolute;
    margin-top: 5px;
    margin-left: -120px;
    right: 20px;
    background: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: none;
}

.notification::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 40px;
    border-style: solid;
    filter: drop-shadow(-1px -1px 1px rgba(0,0,0,.5));
    height: 0px;
    width: 0px;
    border-top: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffff;
}

.notification ul {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-start; 
}

.notify:hover .notification {
    display: block;
}

footer {
    background: #E67E22;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000;
    margin-top: 10px;
}

footer .container {
    padding: 10px 0;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .left-bottom {
    display: flex;
    height: 100%;
    align-items: center;
 }
 
 footer .right-bottom {
     display: flex;
     display: flex;
     height: 100%;
     align-items: center;
 }
 
 footer .right-bottom a {
     color: #333;
     margin-left: 15px;
     text-decoration: none;
 
 }
 
 footer img {
     height: 60px;
     margin-right: 20px;
 }
 